/*  ------------------------
 *	Filename: stylesheet.css
 *	Author: Joey Cabibbo
 *	------------------------ */


/* -------------------- *
 * - General Elements - *
 * -------------------- */

body
{
    font-family: Tahoma, Arial;
    font-size: 11pt;
    font-weight: normal;
    font-style:normal;
}

#mainContainer
{
	position: relative;
	margin: auto;
    width: 1000px;
    top: 50px;
    border: 2px solid #666;
}

.container
{
	position: absolute;
	background-color: white;
}

.label
{
	text-align: center;
	position: relative;
}

.resultBox
{
	height: 153px;
	width: 200px;
	border: 2px solid #666;
	padding: 5px;
	font-size: 8pt;
}

.button
{
	width: 404px;
	margin-top: 3px;
	border: 2px solid #666;
	text-align: center;
}

.button:hover
{
	cursor: pointer;
	background-color: #06A;
	color: white;
}

/* --------------------- *
 * -- Logging Classes -- *
 * --------------------- */

.errorText
{
	color: #C00;
}

.warningText
{
	color: #FD0;
}

.successText
{
	color: #272;
}

.regularText
{
	color: #666;
}

/* -------------------- *
 * --- Main Content --- *
 * -------------------- */

#mainContent
{
	margin: auto;
	position: relative;
    width: 900px;
    min-height: 570px;
}

#banner
{
	position: absolute;
	left: 50px;
	top: 15px;
	width: 900px;
	height: 100px;
	text-align: center;
	font-size: 72pt;
}

/* --------------------- *
 * - Interaction Panel - *
 * --------------------- */

#interactionPanel
{
	margin-top: 135px;
}

#interactionPanelLabel
{
	font-size: 24pt;
	width: 404px;
	margin-bottom: 10px;
}

#sourceCode
{
	width:  400px;
	height: 250px;
	border: 2px solid #666;
	resize: none;
}

#languageGrammer
{
	width:  404px;
	height: 254px;
	border: 2px solid #666;
	overflow: scroll;
	display: none;
}

#testCases
{
	width:  404px;
	height: 254px;
	border: 2px solid #666;
	overflow: scroll;
	display: none;
}

#buttonContainer
{
	top: 315px;
}

/* -------------------- *
 * --- Results Panel--- *
 * -------------------- */

#resultsPanel
{
	margin-top: 135px;
	margin-left: 470px;
}

#resultsPanelLabel
{
	font-size: 24pt;
	width: 404px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.errorsBoxHighlight
{
	background-image: url("images/errorsBoxHover.png");
	background-repeat: no-repeat;
}

#trace
{
	left: 220px;
}

.traceBoxHighlight
{
	background-image: url("images/traceBoxHover.png");
	background-repeat: no-repeat;
}

#symbolTable
{
	top: 221px;
}

.symbolTableBoxHighlight
{
	background-image: url("images/symbolTableBoxHover.png");
	background-repeat: no-repeat;
}

#output
{
	left: 220px;
	top: 221px;
}

.outputBoxHighlight
{
	background-image: url("images/outputBoxHover.png");
	background-repeat: no-repeat;
}

#btnRestore
{
	height: 20px;
	width: 20px;
	border: 4px solid #666;
	left: 431px;
	z-index: 2;
	background-image: url("images/restoreSymbol.png");
	display: none;
}

#btnRestore:hover
{
	cursor: pointer;
	background-color: #06A;
	background-image: url("images/restoreSymbolHover.png");
}