/*  ------------------------
 *	Filename: stylesheet.css
 *	Author: Joey Cabibbo
 *	------------------------ */


/* -------------------- *
 * - General Elements - *
 * -------------------- */

body
{
    font-family: Tahoma, Arial;
    font-size: 11pt;
    font-weight: normal;
    font-style:normal;
}

#mainContainer
{
	position: relative;
	margin: auto;
    width: 1000px;
    top: 50px;
    border: 2px solid #666;
}

.container
{
	position: absolute;
}

.resultBox
{
	height: 153px;
	width: 200px;
	border: 2px solid #666;
	padding: 5px;
}

.resultBox:hover
{
	cursor: pointer;
	background-color: #0066AA;
}

.label
{
	font-size: 24pt;
	text-align: center;
	width: 404px;
	margin-bottom: 10px;
	position: relative;
}

.button
{
	width: 404px;
	margin-top: 3px;
	border: 2px solid #666;
	text-align: center;
}

.button:hover
{
	cursor: pointer;
	background-color: #0066AA;
}

/* -------------------- *
 * --- Main Content --- *
 * -------------------- */

#mainContent
{
	margin: auto;
	position: relative;
    width: 900px;
    min-height: 570px;
}

#banner
{
	position: absolute;
	left: 50px;
	top: 20px;
	width: 900px;
	height: 100px;
	text-align: center;
	font-size: 72pt;
}

/* --------------------- *
 * - Interaction Panel - *
 * --------------------- */

#interactionPanel
{
	margin-top: 150px;
}

#sourceCode
{
	width:  400px;
	height: 250px;
	border: 2px solid #666;
	resize: none;
}

#languageGrammer
{
	width:  404px;
	height: 254px;
	border: 2px solid #666;
	background-color: white;
	overflow: scroll;
}

#testCases
{
	width:  404px;
	height: 254px;
	border: 2px solid #666;
	background-color: white;
	overflow: scroll;
}

#buttonContainer
{
	top: 315px;
}

/* -------------------- *
 * --- Results Panel--- *
 * -------------------- */

#resultsPanel
{
	margin-top: 150px;
	margin-left: 470px;
}

#resultsLabel
{
	margin-left: 15px;
}

#trace
{
	left: 220px;
}

#symbolTable
{
	top: 221px;
}

#output
{
	left: 220px;
	top: 221px;
}